<div class="row">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Lista de Usuarios</h4>
            <div class="table-responsive">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th style="width: 120px;">Acciones</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of usuarios">
                        <td>{{item.ID_USUARIO}}</td>
                        <td>{{item.PRIMER_NOMBRE + ' ' + item.PRIMER_APELLIDO}}</td>
                        <td>
                           <label *ngIf="item.ESTADO == 1" class="badge badge-gradient-success">DISPONIBLE</label>
                           <label *ngIf="item.ESTADO == 0" class="badge badge-gradient-danger">DE BAJA</label>
                        </td>
                        <td>{{item.ROL}}</td>
                        <td>
                           <div>
                              <button type="button" class="btn btn-gradient-primary btn-rounded btn-icon btn-sm"
                                 placement="top" ngbTooltip="Editar">
                                 <i class="mdi mdi-grease-pencil"></i>
                              </button>
                              <button type="button" class="btn btn-gradient-primary btn-rounded btn-icon"
                                 placement="top" ngbTooltip="Eliminar">
                                 <i class="mdi mdi-delete"></i>
                              </button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>